*::before::after{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
    
}
.display{
    grid-column: 1 / -1;
    height: 30%;
    
}
[data-upper-display]{
    background-color: rgba(212, 212, 210, 0.5);
    height: 80%;
    border-radius: 10px 10px 0px 0px;
    border: none;
    
}
[data-lower-display]{
    background-color: rgba(212, 212, 210, 1);
    border-radius: 0px 0px 10px 10px;
    height: 100%;
    border: none;
}


.container > button{
    margin: 20px;
    cursor: pointer;
    height: 80px;
    
}

[data-operator]{
    background-color: rgba(255, 149, 0, 1);
    color: white;
    border: none;
    width: 80px;
    border-radius: 50%;
    font-size: 25px;
}

[data-operator]:hover, #equals:hover{
    background-color: rgba(255, 149, 0, 0.5);
}

[data-delete]{
    background-color: rgba(212, 212, 210, 1);
    border: none;
    width: 80px;
    font-size: 25px;
    border-radius: 50%;
}


.clear, [data-all-clear]{
    background-color: rgba(212, 212, 210, 1);
    border: none;
    font-size: 25px;
    border-radius: 50%;
}

.clear:hover, [data-all-clear]:hover, [data-delete]:hover{
    background-color: rgba(212, 212, 210, 0.5);
}
[data-number]{
    background-color: rgba(80, 80, 80, 1);
    color: white;
    border: none;
    width: 80px;
    font-size: 25px;
    border-radius: 50%;
}

[data-number]:hover{
    background-color: rgba(80, 80, 80, 0.5);
}

#equals{
    background-color: rgba(255, 149, 0, 1);
    color: white;
    border: none;
    font-size: 25px;
}



.span-2{
    grid-column: span 2;
    border-radius: 20px;
}